body.dark {
    background-image: url("/src/darkbackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Amatic SC", cursive;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    font-size: 25px;
    color: white;
}

main.dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 120px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}